body {
    background: saddlebrown;
    user-select: none;
}

.game {
    background: darkgreen;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scoreboard {
    background: dimgrey;
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
}

.row {
    display: flex;
}

.square {
        box-sizing: border-box;

    border: black 1px solid;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    text-align: center;
}

.square.valid {
    border: yellow 4px solid;
}

.black {
    color: black;
}

.white {
    color: white;
}