body {
    background: saddlebrown;
    user-select: none;
}

.game {
    background: darkgreen;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scoreboard {
    background: dimgrey;
    display: flex;
    justify-content: space-between;
    font-size: 5vmin;
}

.row {
    display: flex;
}

.square {
    box-sizing: border-box;
    border: black 1px solid;
    height: 10vmin;
    width: 10vmin;
    font-size: 9vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.valid {
    border: yellow 4px solid;
}

.black {
    color: black;
}

.white {
    color: white;
}