body {
    background: saddlebrown;
    user-select: none;
}

.game {
    background: darkgreen;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.black {
    color: white;

}

.white {
    color: black;
}

.scoreboard {
    background: dimgrey;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.scoreboard > div {
    display: flex;
}

.row {
    display: flex;
}

.square {
    box-sizing: border-box;
    border: black 1px solid;
    height: 10vmin;
    width: 10vmin;
    font-size: 9vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.valid {
    border: yellow 4px solid;
}



.disc {
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    text-align: center;
    font-size: 3.5vmin;
}

.black .disc {
    background: black;
    animation-name: flipToBlack;
    animation-duration: 1s;
}

.white .disc {
    background: white;
    animation-name: flipToWhite;
    animation-duration: 1s;
}

@keyframes flipToBlack {
    0% {background-color: white; width: 6vmin}
    50% {width: 0}
    100% {background-color: black; width: 6vmin}
}

@keyframes flipToWhite {
    0% {background-color: black; width: 6vmin}
    50% {width: 0}
    100% {background-color: white; width: 6vmin}
}